[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
pytest = "*"
black = "*"
mypy = "*"
pylint = "*"
isort = "*"
pyyaml = "*"
types-pyyaml = "*"
responses = "*"
types-requests = "*"
odcs = {extras = ["client"], version = "*"}
appstudio-tools = {file = ".", editable = true}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
